
	// Main background color
	$main-bg: #333744;

	// Stand-alone dialog bg, lighter shade of $main-bg
	$stand-alone-bg: lighten(#333744, 5%);

	// Light tan/gray shade of white
	$light-gray: #f2f0f1;

		// Border Shade
		$light-gray-border-shade: #E3E3E3;

	// Bright Orange
	$bright-orange: #FF5B53;